# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.so

# C extensions
*.c

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.*
!.env.example

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Sentry files
.sentryclirc

# Static files collected by Django
/staticfiles/

# Media files uploaded by users
/media/

# Database dumps
*.sql
*.sql.gz

# OS-specific files
.DS_Store
Thumbs.db

# Certificates
certbot/

# Other miscellaneous
*.swp
*.swo

# Ignore git files
.git
.gitignore
